* {
  font-family: monospace;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(153, 153, 153);
}

/* Colors
orange : 255 102 2
grey: 153 153 153 
*/

/* Navbar */

.navbar {
  border-radius: 0;
  margin-bottom: 0;
}

#logo,
.img-responsive2 {
  display: inline-block;
  margin-top: -10px;
  margin-left: 10px;
  height: 30px;
}

h3.logo {
  display: inline-block;
  margin: auto;
  color: white;
}

h3.logo:hover {
  color: rgb(255, 102, 2);
}

.align-icon {
  margin-right: 5px;
}

/* re-size contact icon */
.fa-mobile {
  transform: scale(1.5);
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: rgb(255, 102, 2);
}

.navbar-inverse .navbar-nav > li > a {
  color: white;
}

.navbar-inverse .navbar-nav > li > a:hover {
  color: rgb(255, 102, 2);
  transition: 0.9s;
}

.navbar-inverse {
  border-bottom: 2px solid rgb(255, 102, 2);
}

.dropdown-menu {
  background-color: #222;
  color: white;
}

.dropdown-menu > li > a {
  color: white;
}

.dropdown-menu > li > a {
  color: white;
}

.dropdown-menu > li > a:hover {
  background-color: #222;
  color: rgb(255, 102, 2);
}

.dropdown-menu .divider {
  background-color: rgba(255, 102, 2, 0.5);
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #222;
  color: rgb(255, 102, 2);
}

.container {
  height: auto;
  width: 100%;
  background-color: rgb(153, 153, 153);
  position: relative;
  padding: 50px 100px;
}

.container h2 {
  font-size: 4em;
  font-weight: 500;
  color: white;
  margin-bottom: 40px;
}

.scrolltop {
  position: fixed;
  bottom: 800px;
  right: 40px;
  width: 60px;
  height: 60px;
  cursor: pointer;
  border-radius: 30px;
  background: rgb(255 102 2) url(/img/up.png);
  background-position: center;
  background-repeat: no-repeat;
  z-index: 100000;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}

.scrolltop.active {
  visibility: visible;
  opacity: 0.5;
  bottom: 40px;
}

/* menu hover effect */

/* Start Nav */

nav ul li a:after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0px;
  transform: translateX(-50%) scaleX(0);
  -webkit-transform: translateX(-50%) scaleX(0);
  -webkit-transform-origin: 50% 50%;
  transform-origin: 0% 50%;
  width: 100%;
  height: 50px;
  background-color: rgba(255, 102, 2, 0.1);
  -webkit-transition: transform 250ms;
  transition: transform 250ms;
}

nav ul li a:hover:after {
  -webkit-transform: translateX(-50%) scaleX(1);
  transform: translateX(-50%) scaleX(1);
}

.welcome {
  margin-top: -300px;
  font-size: 80px;
  color: rgb(255, 102, 2);
}

/* End Nav */

/* Start Wrapper */
#wrapper {
  height: auto;
  margin-bottom: 5%;
  background-color: rgb(153, 153, 153);
}

p {
  margin: 0;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
  height: auto;
}

.col-md-3 {
  height: auto;
}

.col-md-12 {
  height: auto;
  margin-top: 20px;
  padding-bottom: 40px;
  padding-top: 10px;
  background-color: rgb(153, 153, 153);
  border: 1px solid rgb(255, 102, 2);
}

.col-md-12:hover {
  height: auto;
  margin-top: 20px;
  padding-bottom: 40px;
  padding-top: 10px;
  background-color: rgb(255, 102, 2);
  border: 1px solid rgb(255, 102, 2);
}

.fa-sticky-note {
  margin-right: 10px;
  transform: scale(0.8);
  margin-top: 10px;
}

.wrap-button {
  float: right;
  background-color: rgb(216, 216, 216);
  border-radius: 5px;
  padding: 3px;
}

.carousel {
  margin-top: 50px;
}

/* End Wrapper */

/* Start Footer */

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
section {
  padding: 60px 0;
}

section .section-title {
  text-align: center;
  color: #007b5e;
  margin-bottom: 50px;
  text-transform: uppercase;
}
#footer {
  height: auto;
  background: #222 !important;
}

#footer a {
  color: #ffffff;
  text-decoration: none !important;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
#footer ul.social li {
  padding: 3px 0;
}

#footer ul.social li a i {
  margin-right: 5px;
  font-size: 25px;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

#footer ul.social li:hover a i {
  font-size: 40px;
  margin-top: -10px;
}

#footer ul.social li a,
#footer ul.quick-links li a {
  color: #ffffff;
}

#footer ul.social li a:hover {
  color: #eeeeee;
}

#footer ul.quick-links li {
  padding: 3px 0;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

#footer ul.quick-links li:hover {
  padding: 3px 0;
  margin-left: 5px;
  font-weight: 700;
}

#footer ul.quick-links li a i {
  margin-right: 5px;
}

#footer ul.quick-links li:hover a i {
  font-weight: 700;
}

@media (max-width: 767px) {
  #footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
  }

  .welcome {
    margin-top: -50px;
    font-size: 20px;
  }
}

.quick1 {
  margin-left: 25%;
  margin-right: 25%;
  border-left: 3px solid white;
  border-right: 3px solid white;
  color: white;
}

.quick1 h5 {
  font-size: 20px;
}

/* End Footer */

/* Start Modal */

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: #000;
}

.btn-primary {
  color: #fff;
  background-color: transparent;
  border-color: transparent;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn:hover {
  background-color: transparent;
  border-color: transparent;
}

.btn {
  margin-top: 7px;
}

.modal-content {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  text-align: center;
  background-color: rgb(255, 102, 2);
}

input {
  width: 250px;
  border-radius: 5px;
}

.well-cont {
  width: 500px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 10px;
}

@media (max-width: 400px) {
  .modal-content {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    text-align: center;
    background-color: rgb(255, 102, 2);
  }

  input {
    width: 150px;
    border-radius: 5px;
  }

  .well-cont {
    width: 200px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
  }
}

.lgn {
  color: black;
  text-decoration: none;
}

.lgn:hover {
  color: black;
  text-decoration: none;
}

.lgn-msg {
  color: white;
  font-size: 20px;
  margin-bottom: 20px;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: thin dotted;
  outline: 0px auto -webkit-focus-ring-color;
  outline-offset: 0px;
  background-color: transparent;
  border-color: transparent;
}

/* imgs - index */

.imgs {
  height: auto;
}

@media (max-width: 400px) {
  .imgs {
    margin-top: 50px;
    margin-bottom: 210%;
  }
}

.imgs > .col-md-12 {
  height: 300px;
  width: 100%;
  margin: 0;
  margin-top: -100px;
  padding: 0;
  border: 0;
  background-color: transparent;
}

.imgs > .col-md-12 > .row-index > .col-md-3 {
  background-color: transparent;
  height: 300px;
  padding: 3%;
}

.img-index {
  width: 100%;
  height: 100%;
}
