* {
  font-family: monospace;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(216, 216, 216);
}

/* Colors
  grey: 153 153 153; background-color 
  color: rgb(57, 140, 248); hover*/

/* Navbar */

.navbar {
  border-radius: 0;
  margin-bottom: 0;
}

#logo,
.img-responsive {
  display: inline-block;
  margin-top: -10px;
  margin-left: 10px;
  color: rgb(57, 140, 248);
}

h3.logo {
  display: inline-block;
  margin: auto;
  color: rgb(116, 189, 213);
}

h3.logo:hover {
  color: rgb(57, 140, 248);
}

.align-icon {
  margin-right: 5px;
}

/* re-size contact icon */
.fa-mobile {
  transform: scale(1.5);
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: rgb(57, 140, 248);
}

.navbar-default .navbar-nav > li > a {
  color: rgb(116, 189, 213);
}

.navbar-default .navbar-nav > li > a:hover {
  color: rgb(57, 140, 248);
  transition: 0.3s;
}

.navbar-default {
  border-bottom: 2px solid rgb(57, 140, 248);
}

.dropdown-menu {
  background-color: white;
}

.dropdown-menu > li > a {
  color: lightblue;
}

.dropdown-menu > li > a:hover {
  background-color: white;
  color: rgb(57, 140, 248);
}

.dropdown-menu .divider {
  color: rgb(57, 140, 248);
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: rgb(116, 189, 213);
  color: white;
}

.container-body {
  height: 2000px;
  width: 100%;
  color: rgb(57, 140, 248);
  position: relative;
  padding: 50px 100px;
}

.container h2 {
  font-size: 4em;
  font-weight: 500;
  color: white;
  margin-bottom: 40px;
}

/* Start ScrollToTop */
.scrolltop {
  position: fixed;
  bottom: 800px;
  right: 40px;
  width: 60px;
  height: 60px;
  cursor: pointer;
  border-radius: 30px;
  background: rgb(116, 189, 213) url(/img/up.png);
  background-position: center;
  background-repeat: no-repeat;
  z-index: 100000;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}

.scrolltop.active {
  visibility: visible;
  opacity: 0.5;
  bottom: 40px;
}

/* End ScrollToTop */

/* menu hover effect */

/* .wrapper {
    display: flex;
    flex-direction: column;
    background-color: #262626;
    min-height: 100vh;
  } */

/* nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  } */

/* nav ul li {
    display: inline-flex;
  } */

/* nav ul li a {
    position: relative;
    padding: 16px 0 5px;
    margin: 0 25px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 16px;
  } */
/* 
nav ul li a:after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0px;
  transform: translateX(-50%) scaleX(0);
  -webkit-transform: translateX(-50%) scaleX(0);
  -webkit-transform-origin: 50% 50%;
  transform-origin: 0% 50%;
  width: 100%;
  height: 50px;
  background-color: rgba(255, 102, 2, 0.1);
  -webkit-transition: transform 250ms;
  transition: transform 250ms;
}

nav ul li a:hover:after {
  -webkit-transform: translateX(-50%) scaleX(1);
  transform: translateX(-50%) scaleX(1);
} */
