* {
  font-family: monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(216, 216, 216);
}

/* Colors
  grey: 153 153 153; background-color 
  color: rgb(57, 140, 248); hover*/

/* Navbar */

.navbar {
  border-radius: 0;
  margin-bottom: 0;
}

#logo,
.img-responsive2 {
  display: inline-block;
  margin-top: -10px;
  margin-left: 10px;
  color: rgb(57, 140, 248);
}

h3.logo {
  display: inline-block;
  margin: auto;
  color: rgb(116, 189, 213);
}

h3.logo:hover {
  color: rgb(57, 140, 248);
}

.align-icon {
  margin-right: 5px;
}

/* re-size contact icon */
.fa-mobile {
  transform: scale(1.5);
}

.navbar-nav {
  background-color: white;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: rgb(57, 140, 248);
}

.navbar-default .navbar-nav > li > a {
  color: rgb(116, 189, 213);
}

.navbar-default .navbar-nav > li > a:hover {
  color: rgb(57, 140, 248);
  transition: 0.3s;
}

.navbar-default {
  border-bottom: 3px solid rgb(57, 140, 248);
}

.dropdown-menu {
  background-color: white;
}

.dropdown-menu > li > a {
  color: lightblue;
}

.dropdown-menu > li > a:hover {
  background-color: white;
  color: rgb(57, 140, 248);
}

.dropdown-menu .divider {
  color: rgb(57, 140, 248);
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: rgb(116, 189, 213);
  color: white;
}

.navbar,
.navbar-fixed-top,
.navbar-default {
  max-height: 50px;
}

.nav,
.navbar-nav,
.navbar-right {
  background-color: transparent;
}

.navbar-default {
  background-color: white;
}

.container > .navbar-header {
  height: 50px;
  max-height: 50px;
}

.container {
  height: 50px;
  max-height: 50px;
}

.navbar-brand {
  float: left;
}

.container-body {
  height: 2000px;
  width: 100%;
  color: rgb(57, 140, 248);
  position: relative;
  padding: 50px 100px;
}

.container h2 {
  font-size: 4em;
  font-weight: 500;
  color: white;
  margin-bottom: 40px;
}

/* Start ScrollToTop */
.scrolltop {
  position: fixed;
  bottom: 800px;
  right: 40px;
  width: 60px;
  height: 60px;
  cursor: pointer;
  border-radius: 30px;
  background: rgb(116, 189, 213) url(/img/up.png);
  background-position: center;
  background-repeat: no-repeat;
  z-index: 100000;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}

.scrolltop.active {
  visibility: visible;
  opacity: 0.5;
  bottom: 40px;
}

/* End ScrollToTop */

.welcome {
  margin-top: -300px;
  font-size: 80px;
}

/* Wrapper */
#wrapper {
  height: auto;
  margin-bottom: 15%;
  background-color: rgb(216, 216, 216);
}

.row {
  margin-left: 0px;
  margin-right: 0px;
  height: auto;
}

.col-md-3 {
  height: 300px;
}

.col-md-12 {
  height: auto;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 40px;
  background-color: white;
}

.col-md-12:hover {
  height: auto;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 40px;
  background-color: rgb(116, 189, 213);
  color: white;
}

.fa-sticky-note {
  margin-right: 10px;
  transform: scale(0.8);
  margin-top: 10px;
}

.wrap-button {
  float: right;
  background-color: rgb(216, 216, 216);
  border-radius: 5px;
  padding: 3px;
  margin: 0;
}

/* End Wrapper */

/* Start Footer */

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

#footer {
  height: auto;
  background: rgb(243, 243, 243) !important;
}

#footer h5 {
  padding-left: 10px;
  border-left: 3px solid rgb(116, 189, 213);
  border-right: 3px solid rgb(116, 189, 213);
  padding-bottom: 6px;
  margin-bottom: 20px;
}

#footer a {
  color: rgb(116, 189, 213);
  background-color: transparent;
}
#footer ul.social li {
  padding: 3px 0;
}

#footer ul.social li a i {
  margin-right: 5px;
  font-size: 25px;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

#footer ul.social li:hover a i {
  font-size: 40px;
  margin-top: -10px;
}

#footer ul.social li a,
#footer ul.quick-links li a {
  color: rgb(116, 189, 213);
}

#footer ul.social li a:hover {
  color: rgb(57, 140, 248);
}

#footer ul.quick-links li {
  padding: 3px 0;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

#footer ul.quick-links li:hover {
  padding: 3px 0;
  margin-left: 5px;
  font-weight: 700;
  color: rgb(57, 140, 248);
}

#footer ul.quick-links li a i {
  margin-right: 5px;
}

#footer ul.quick-links li:hover a i {
  font-weight: 700;
  color: rgb(57, 140, 248);
}

@media (max-width: 767px) {
  #footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
  }
}

.quick1 {
  margin-left: 25%;
  margin-right: 25%;
  border-left: rgb(116, 189, 213);
  border-right: rgb(116, 189, 213);
  color: rgb(116, 189, 213);
}

.quick1:hover {
  margin-left: 25%;
  margin-right: 25%;
  color: rgb(57, 140, 248);
}

.quick1 h5 {
  font-size: 20px;
  color: rgb(116, 189, 213);
}

.quick1 h5:hover {
  font-size: 20px;
  color: rgb(57, 140, 248);
}

/* End Footer */
