* {
  font-family: monospace;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(153 153 153);
}

/* Colors
orange : 255 102 2
grey: 153 153 153 */

/* Navbar */

.navbar {
  border-radius: 0;
  margin-bottom: 0;
}

#logo,
.img-responsive {
  display: inline-block;
  margin-top: -10px;
  margin-left: 10px;
  height: 30px;
}

h3.logo {
  display: inline-block;
  margin: auto;
  color: white;
}

h3.logo:hover {
  color: rgb(255 102 2);
}

.align-icon {
  margin-right: 5px;
}

/* re-size contact icon */
.fa-mobile {
  transform: scale(1.5);
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: rgb(255 102 2);
}

.navbar-inverse .navbar-nav > li > a {
  color: white;
}

.navbar-inverse .navbar-nav > li > a:hover {
  color: rgb(255 102 2);
}

.navbar-inverse {
  border-bottom: 2px solid rgb(255 102 2);
}

.dropdown-menu {
  background-color: #222;
  color: white;
}

.dropdown-menu > li > a {
  color: white;
}

.dropdown-menu > li > a {
  color: white;
}

.dropdown-menu > li > a:hover {
  background-color: #222;
  color: rgb(255 102 2);
}

.dropdown-menu .divider {
  color: rgb(255 102 2);
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #222;
  color: rgb(255 102 2);
}

.container {
  height: 800px;
  width: 100%;
  background-color: rgb(153 153 153);
  position: relative;
  padding: 100px 150px;
}

.container h2 {
  font-size: 4em;
  font-weight: 500;
  color: white;
  margin-bottom: 40px;
}

.scrolltop {
  position: fixed;
  bottom: 800px;
  right: 40px;
  width: 60px;
  height: 60px;
  cursor: pointer;
  border-radius: 30px;
  background: #fff url(/img/up.png);
  background-position: center;
  background-repeat: no-repeat;
  z-index: 100000;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}

.scrolltop.active {
  visibility: visible;
  opacity: 1;
  bottom: 40px;
}
