* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
@media (min-width: 768px) {
  body {
    margin-top: 50px;
  }
  /*html, body, #wrapper, #page-wrapper {height: 100%; overflow: hidden;}*/
}

#wrapper {
  padding-left: 0;
}

#page-wrapper {
  width: 100%;
  padding: 0;
  background-color: #fff;
  display: block;
}

@media (min-width: 768px) {
  #wrapper {
    padding-left: 225px;
  }

  #page-wrapper {
    padding: 22px 10px;
  }

  /* .well-cont {
    margin-top: 80px;
  } */
}

@media (max-width: 768px) {
  #page-wrapper {
    margin-top: 120px;
  }

  .well {
    margin-top: 50px;
    height: 20px;
  }
  .well-cont {
    margin-top: 50px;
  }
}

/* Top Navigation */

.top-nav {
  padding: 0 15px;
}

.top-nav > li {
  display: inline-block;
  /* float: left; */
}

.top-nav > li > a {
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 20px;
  color: #fff;
}

.top-nav > li > a:hover,
.top-nav > li > a:focus,
.top-nav > .open > a,
.top-nav > .open > a:hover,
.top-nav > .open > a:focus {
  color: #fff;
  background-color: rgb(255 102 2);
}

.top-nav > .open > .dropdown-menu {
  float: left;
  position: absolute;
  margin-top: 0;
  /*border: 1px solid rgba(0,0,0,.15);*/
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: #fff;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.top-nav > .open > .dropdown-menu > li > a {
  white-space: normal;
}

/* Side Navigation */

@media (min-width: 768px) {
  .side-nav {
    position: fixed;
    top: 60px;
    left: 225px;
    width: 225px;
    margin-left: -225px;
    border: none;
    border-radius: 0;
    border-top: 1px rgba(0, 0, 0, 0.5) solid;
    overflow-y: auto;
    background-color: #222;
    bottom: 0;
    overflow-x: hidden;
    padding-bottom: 40px;
  }

  .side-nav > li > a {
    width: 225px;
    border-bottom: 1px rgb(255 102 2) solid;
  }

  .side-nav li a:hover,
  .side-nav li a:focus {
    outline: none;
    background-color: rgb(255 102 2) !important;
  }
}

#brand-logo {
  margin-left: 10px;
  margin-top: 10px;
  color: white;
  float: left;
}

.side-nav > li > ul {
  padding: 0;
  border-bottom: 1px rgba(0, 0, 0, 0.3) solid;
}

.side-nav > li > ul > li > a {
  display: block;
  padding: 10px 15px 10px 38px;
  text-decoration: none;
  /*color: #999;*/
  color: #fff;
}

.side-nav > li > ul > li > a:hover {
  color: #fff;
}

.navbar .nav > li > a > .label {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 14px;
  right: 6px;
  font-size: 10px;
  font-weight: normal;
  min-width: 15px;
  min-height: 15px;
  line-height: 1em;
  text-align: center;
  padding: 2px;
}

.navbar .nav > li > a:hover > .label {
  top: 10px;
}

.navbar-brand {
  padding: 5px 15px;
}

.well {
  min-height: 20px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 0px;
}

.well-cont {
  min-height: 600px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 0px;
}

.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}

.c-panel {
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 900;
  color: rgb(255 102 2);
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 13px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}

.fa-money,
.fa-archive,
.fa-globe,
.fa-envelope-o,
.fa-user-o {
  margin-right: 5px;
}

.fa-globe {
  margin-left: 3px;
}

.breadcrumb {
  margin-bottom: 0;
  margin-left: 0;
  padding-left: 0;
  font-size: 13px;
}

.breadcrumb > li > a {
  color: rgb(153, 153, 153);
}

.breadcrumb .active {
  color: rgb(255, 102, 2);
  font-weight: 900;
}

a.active {
  color: red;
}

a:hover {
  text-decoration: none;
}

button a {
  text-decoration: none;
  color: black;
}

.div1 {
  margin-top: 40px;
  height: 20px;
  width: 100%;
  background-color: #222;
}

/* Start Modal */

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  background-color: #000;
}

.modal-content {
  background-color: rgb(255, 102, 2);
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  text-align: center;
  background-color: rgb(255, 102, 2);
  padding-bottom: 25px;
}

@media (max-width: 400px) {
  div.modal-content {
    height: 200px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    background-color: rgb(255, 102, 2);
  }

  form {
    margin-left: 10%;
    margin-right: auto;
  }

  input {
    width: 100px;
    border-radius: 5px;
  }

  .well-cont2 {
    width: 200px;
    padding-right: auto;
    padding-left: auto;
    padding-bottom: 10px;
    margin-right: auto;
  }

  .lgn-msg {
    color: white;
    font-size: 20px;
    text-align: center;
    margin-left: 40%;
    margin-right: auto;
  }

  button {
    margin-left: 50%;
  }
}

/* END MODAL */

.lgn {
  color: black;
  text-decoration: none;
}

.lgn:hover {
  color: black;
  text-decoration: none;
}

.lgn-msg {
  color: white;
  font-size: 20px;
  margin-bottom: 20px;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus {
  color: black;
  outline: thin dotted;
  outline: 0px auto -webkit-focus-ring-color;
  outline-offset: 0px;
}

.btn-primary {
  color: black;
  margin-top: 0;
}

button.btn.btn-primary {
  color: rgb(255, 102, 2);
  background-color: transparent;
  margin-top: 0;
  margin-left: 8px;
  font-size: 13px;
}

button.btn.btn-primary:hover {
  color: white;
  background-color: rgb(255, 102, 2);
  margin-top: 0;
  margin-left: 8px;
  font-size: 13px;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-top: 7px;
}

.btn:hover {
  background-color: rgb(255, 102, 2);
  border-color: transparent;
  color: black;
}

input {
  width: 250px;
  border-radius: 5px;
}

/* Start table */

.row {
  margin: 10px;
}

.col-md-3 {
  height: 500px;
  background-color: white;
  border: 1px solid grey;
  padding-left: 0px;
  padding-right: 0px;
}

.col-md-9 {
  height: 900px;
  background-color: transparent;
}

.col-md-3 > .col-md-12 {
  height: 460px;
  padding: 0;
  margin: 0;
}

.butn {
  width: 100%;
  height: 60px;
  background-color: #222;
  color: white;
  color: inherit;
  font: inherit;
  border: 0;
  margin: 0;
  border-bottom: 1px solid white;
}

.butn:hover {
  background-color: rgb(255, 102, 2);
}

.new {
  color: white;
}

.col-md-9 > .col-md-12 {
  height: 500px;
  background-color: white;
  border: 1px solid grey;
  padding-left: 0px;
  padding-right: 0px;
}

.row > .col-md-9 {
  padding-left: 15px;
  padding-right: 0px;
}
/* End table */
